{% extends 'base.html.twig' %}

{% block title %}
  Recette - {{ recipe.title }}
{% endblock %}

{% block body %}
<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h1>Recette - {{ recipe.title }}</h1>
  </div>
</div>

  <div class="grid-x grid-padding-x">
    <div class="row cell medium-12 large-9">
      <img class="thumbnail" src="https://placehold.it/800x400">
    </div>
    <div class="row cell medium-12 large-3 reipe-infos">
      <div class="recipe-info">
        <div class="recipe-info__title">Temps de préparation</div>
        <div class="recipe-info__value">{{ recipe.preparationTime }}</div>
      </div>
      <div class="recipe-info">
        <div class="recipe-info__title">Temps de cuisson</div>
        <div class="recipe-info__value">{{ recipe.cookingTime }}</div>
      </div>
      <div class="recipe-info">
        <div class="recipe-info__title">Nombre de personnes</div>
        <div class="recipe-info__value">{{ recipe.peopleNumber }}</div>
      </div>
      <div class="recipe-info">
        <div class="recipe-info__title">Difficulté</div>
        <div class="recipe-info__value">{{ recipe.difficulty }}</div>
      </div>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h2>Résumé</h2>
      {{recipe.resume }}
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="medium-12 large-4 row cell">
      <h2>Ingrédients</h2>
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient.quantity }} {{ ingredient.unity}} de {{ ingredient.name }} </li>
        {% else %}
        <li>Aucun ingédient</li>
        {% endfor %}
      </ul>
    </div>
    <div class="medium-12 large-8 row cell">
      <h2>Etapes</h2>
      <ol>
        {% for step in recipe.steps %}
          <li>{{ step.body }}</li>
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock %}
